/*

body {
    background-color: #eff1f7;
    font-family: "Calibri";

}

.content {
    margin:2% 10% 2% 15%;
    height: 100%;
    overflow: hidden;
}

.left-content {
    float: left;
    width: 70%;
}

.selected {
    float: right;
    width: 27%;
    margin-top: 3%;

}

.topbar {
    background-color: #ffffff;
    vertical-align: auto;
    overflow: hidden;
    height: 10%;
    line-height: 10%;
}

.topbar img {
    height: 50px;
    width: 50px;
}

.topbar a {
    text-decoration: none;
    font-size: 16px;
    font-weight: bolder;
    color: #947786;
    vertical-align: center;
}

.searchbar {
    margin-top: 3%;
    background-color: #ffffff;
    height: 7%;
    border-radius: 12px;
    line-height: 7%;
}

.searchbar #search {
    border: none;
    width: 90%;
    vertical-align: center;
    height: 100%;
    border-radius: 12px;
    outline: none;
}

.order-numeric {
    margin-top: 3%;
    overflow: hidden;
    border-radius: 0px;
}

.ascdesc {
    height: 5%;
    line-height: 5%;
    vertical-align: center;
    float: left;
}

.ascdesc select {
    float: left;
    border: none;
    outline: none;
    background-color: #eff1f7;
    font-weight: bolder;
}

.numeric {
    float: right;
    height: 5%;
    width: 25%;
}
.numeric input {
    border: 1px black solid;
    height: 90%;
    border-radius: 12px;
    width: 34%;
    margin-right: 0px;
}

.numeric label {
    font-weight: bolder;
}


.flex-container {
    display: flex;
    flex-wrap: nowrap;
    background-color: white;
    margin-top: 3%;
}

.flex-container > div {
    background-color: #f1f1f1;
    width: 30%;
    margin: 2%;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
}

.drop-type {
    display: none;
    position: absolute;
}



.show {
    display: block;
}

.filters {
    margin-top: 3%;
}

.filters button {
    background-color: white;
    width: 18%;
    height: 4%;
    margin: 0.7%;
    border: none;
    border-radius: 12px;
}


.poketype{
    background-color: white;
    width: 19%;
}




li {
    list-style-type: none;
    display: inline;
    padding: 2%;

}


div {
    border: 0px;
    border-radius: 12px;
}

*/
